body {
  margin: 0;
  text-align: center;
  /* the text align centre will align all the element of the parent(body) class */
  font-family: 'Merriweather', serif;
}

div {
  background-color: white;
}

.pro {
  font-size: 1.5rem;
}

h1 {
  font-size: 3.15rem;
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #174803;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #08801a;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a {
  color: #11999E;
}

.top-container {
  /* background-color: rgba(28, 216, 240, 0.963); */
  background-image: linear-gradient(to bottom right,#36d1dc,#5b86e5);
  position: relative;
  padding-top: 100px;
}

.middle-container{
  padding-top: 60px;
}

.bottom-container {
  background-color: #014949;
  padding: 50px 0 50px 0;
  background-color: black;
}

.sean {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.devimg{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.compimg{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.webimg{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.myimg {
  border-radius: 50%;
  width: 15%
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.vimal-joshi-bottom{
  color: #EAF6F6;
}